{% load static %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>{% block title %}Instagram{% endblock %}</title>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03"
                aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="/">
            <img class="logo" src="{% static 'img/instanav.png' %}"
                 alt="logo">
        </a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/">
                        <img class="logo_2" src="{% static 'img/instalogo.svg' %}" alt="logo">
                    </a>
                </li>
                <li class="nav-item">
                    <form class="text-center" style="font-size:15px;padding-right: 300px" action="" method="GET">
                        {{ form.search }}
                        {% for error in form.search.errors %}
                            <p class="form-error">{{ error }}</p>
                        {% endfor %}
                    </form>
                </li>
                {#                {% if user.is_authenticated %}#}
                {#                    <li class="nav-item">#}
                {#                        <a class="nav-link" href="{% url 'create_post' user.pk %}">#}
                {#                            <i class="material-icons" style="font-size:25px;">add_a_photo</i>#}
                {#                        </a>#}
                {#                    </li>#}
                {#                    <li class="nav-item">#}
                {#                        <a class="nav-link" href="{% url 'profile' user.pk %}">#}
                {#                            <i class="material-icons" style="font-size:25px;">account_circle</i>#}
                {#                        </a>#}
                {#                    </li>#}
                {#                {% endif %}#}
            </ul>
        </div>
    </div>
</nav>


<div class="container">
    {% block content %}{% endblock %}
</div>
</body>
</html>