{% load static %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>{% block title %}Instagram{% endblock %}</title>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03"
                aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="/">
            <img class="logo" src="{% static 'img/instanav.png' %}"
                 alt="logo">
        </a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/">
                        <img class="logo_2" src="{% static 'img/instalogo.svg' %}" alt="logo">
                    </a>
                </li>
                <li class="nav_item search_form">
                    <form action="{% url 'account_search' %}" method="GET">
                        {% csrf_token %}
                        <input class="input_search" placeholder="Search" name="search" type="text">
                        <input hidden="hidden" type="submit" value="Поиск">
                    </form>
                </li>
                <li class="nav-item">
                    <a href="{% url 'post_create' %}">
                        <img src="{% static 'img/plus-square.svg' %}" alt="#" class="add_post_logo">
                    </a>
                </li>
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a href="{% url 'account_detail' username=request.user.username %}" class="nav-link">
                            <img src="{% static 'img/account-logo.png' %}" class="logo_3" alt="#">
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'logout' %}" class="nav-link log_out">
                            Log Out
                        </a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>


<div class="container">
    {% block content %}{% endblock %}
</div>
</body>
</html>