{% extends 'base.html' %}
{% load static %}

{% block title %}
    Главная страница
{% endblock %}
{% block content %}
    {% if request.user.is_authenticated %}
        <div class="src_filed_2 mb-4">
            {% if posts %}
                {% for post in posts %}
                    <div class="card-group">
                        <div class="card">
                            <div class="card-text">
                                {% if post.author.avatar %}
                                    <img class=" rounded-circle my-2 ml-2" src="{{ post.author.avatar }}" alt="image"
                                         height="35"
                                         width="35">
                                {% else %}
                                    <img class=" rounded-circle my-2 ml-2" src="https://via.placeholder.com/50x50"
                                         alt="image"
                                         height="35"
                                         width="35">
                                {% endif %}
                                <a href="{% url 'account_detail' username=post.author.username %}"
                                   class="post_header">{{ post.author.username }}</a>
                            </div>
                            <div class="post-div">
                                <img src="{{ post.image.url }}" class="post-img"
                                     alt="load error">
                            </div>
                            <div class="card-body">
                                <p class="card-text text-muted card-description">{{ post.likes_count }} отметок
                                    "Нравится"</p>
                                <p class="card-text card-description">{{ post.description }}</p>
                                <p class="card-text card-description text-muted">Посмотреть все комментарии
                                    ({{ post.comments_count }})</p>
                            </div>
                        </div>
                    </div>
                    <hr>
                {% endfor %}
            {% else %}
                <h1>No posts yet</h1>
            {% endif %}
        </div>
    {% else %}
        <div class="container">
            <p>Please <a href="{% url 'login' %}">log in</a></p>
        </div>
    {% endif %}
{% endblock %}